packages/llvm/sources/** linguist-vendored

* text eol=lf

*.c      text eol=lf
*.cpp    text eol=lf
*.h      text eol=lf
*.hpp    text eol=lf
*.zig    text eol=lf

.clangd         text eol=lf
.clangd-format  text eol=lf
.flake.*        text eol=lf

*.sh     text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.sh     text eol=lf
*.bat    text eol=crlf
*.fish   text eol=crlf
