name: CI

on:
    push:
        branches: [main]
        paths:
            - ".github/workflows/ci.yml"
            - "packages/**"
            - "apps/**"
            - "build.zig"
            - "build.zig.zon"
    pull_request:
        branches: [main]
        paths:
            - ".github/workflows/ci.yml"
            - "packages/**"
            - "apps/**"
            - "build.zig"
            - "build.zig.zon"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build-test:
        permissions:
            contents: read
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                    - os: macos-latest
                    - os: windows-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - uses: mlugg/setup-zig@v2
              with:
                  version: 0.15.2

            - name: Install LLVM (Linux)
              if: runner.os == 'Linux'
              run: |
                wget https://apt.llvm.org/llvm.sh
                chmod +x llvm.sh
                sudo ./llvm.sh 21
                sudo apt-get install -y llvm-21-dev libclang-21-dev
                sudo ln -s /usr/bin/llvm-config-21 /usr/bin/llvm-config

            - name: Install LLVM (macOS)
              if: runner.os == 'macOS'
              run: |
                brew install llvm@21
                echo "$(brew --prefix llvm@21)/bin" >> $GITHUB_PATH

            - name: Install LLVM (Windows)
              if: runner.os == 'Windows'
              uses: msys2/setup-msys2@v2
              with:
                update: true
                path-type: inherit
                msystem: UCRT64
                install: >-
                    mingw-w64-ucrt-x86_64-llvm

            - name: Run tests
              run: |
                  zig build test
                  zig build test --release=fast
              shell: ${{ runner.os == 'Windows' && 'msys2 {0}' || 'bash' }}
