name: CI

on:
    push:
        branches: [main]
        paths:
            - ".github/workflows/ci.yml"
            - "src/**"
            - "include/**"
            - "tests/**"
            - "build.zig"
            - "build.zig.zon"
    pull_request:
        branches: [main]
        paths:
            - ".github/workflows/ci.yml"
            - "src/**"
            - "include/**"
            - "tests/**"
            - "build.zig"
            - "build.zig.zon"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build-test:
        permissions:
            contents: read
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                    - os: macos-latest
                    - os: windows-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - uses: mlugg/setup-zig@v2
              with:
                  version: 0.15.2

            - name: Run tests
              run: |
                  zig build test
                  zig build test --release=fast
