name: CI

on:
    pull_request:
        branches: [main, dev]
        paths:
            - ".github/workflows/ci.yml"
            - "apps/**"
            - "packages/**"
            - "build.zig"
            - "build.zig.zon"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build-test:
        permissions:
            contents: read
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                    - os: macos-latest
                    - os: windows-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - uses: mlugg/setup-zig@v2
              with:
                  version: 0.15.2

            - name: Cache Zig Folders
              uses: actions/cache@v4
              with:
                path: |
                  ${{ env.ZIG_LOCAL_CACHE_DIR }}
                  ${{ env.ZIG_GLOBAL_CACHE_DIR }}
                key: ${{ runner.os }}-zig-${{ hashFiles('build.zig.zon', 'packages/llvm/**.zig') }}
                restore-keys: |
                  ${{ runner.os }}-zig-

            - name: Run tests
              run: zig build test
