name: Coverage

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/coverage.yml'
      - 'src/**'
      - 'include/**'
      - 'tests/**'
      - 'CMakeLists.txt'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/coverage.yml'
      - 'src/**'
      - 'include/**'
      - 'tests/**'
      - 'CMakeLists.txt'

jobs:
  coverage:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y clang clang-format cmake make lcov llvm llvm-dev

      - name: Run coverage report generator
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build . --parallel --target coverage-badge

      - name: Commit coverage report & badge
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout --orphan coverage || git checkout coverage
          git reset --hard
          cp -r build/cov/coverage_report/* .
          cp build/cov/coverage_summary.txt .
          cp build/cov/coverage.svg .
          git add .
          git commit -m "Update coverage report"
          git push -f origin coverage
