name: Coverage

on:
    push:
        branches:
            - main
        paths:
            - ".github/workflows/coverage.yml"
            - "src/**"
            - "include/**"
            - "tests/**"
            - ".github/CMakeLists.txt"

jobs:
    coverage:
        permissions:
            contents: write
        runs-on: macos-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - uses: mlugg/setup-zig@v2
              with:
                  version: 0.15.2

            - name: Install dependencies
              run: |
                  brew update
                  brew install kcov
              env:
                  HOMEBREW_NO_AUTO_UPDATE: 1

            - name: Run coverage report generator
              run: |
                  zig build cov
                  mv zig-out/coverage .

            - name: Commit coverage report & badge
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
                  git checkout --orphan coverage || git checkout coverage
                  git reset --hard
                  mv coverage/* .
                  git add .
                  git commit -m "Update coverage report"
                  git push -f origin coverage
