name: Coverage

on:
    push:
        branches:
            - main
        paths:
            - ".github/workflows/coverage.yml"
            - "src/**"
            - "include/**"
            - "tests/**"
            - ".github/CMakeLists.txt"

jobs:
    coverage:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1
                  
            - uses: mlugg/setup-zig@v2
              with:
                  version: 0.15.2

            - name: Install dependencies
              run: |
                  sudo apt update
                  sudo apt install -y clang cmake ninja lcov llvm llvm-dev

            - name: Run coverage report generator
              run: |
                  zig build cov
                  mv .github/build/coverage .

            - name: Commit coverage report & badge
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
                  git checkout --orphan coverage || git checkout coverage
                  git reset --hard
                  cp -r coverage/coverage_report/* .
                  cp coverage/coverage_summary.txt .
                  cp coverage/coverage.svg .
                  git add .
                  git commit -m "Update coverage report"
                  git push -f origin coverage
