name: Formatting

on:
  push:
    branches:
      - main
      - 'feature/**'
    paths:
      - '.github/workflows/format.yml'
      - 'src/**'
      - 'include/**'
      - 'tests/**'
      - 'CMakeLists.txt'
  pull_request:
    branches:
      - main
      - 'feature/**'
    paths:
      - '.github/workflows/format.yml'
      - 'src/**'
      - 'include/**'
      - 'tests/**'
      - 'CMakeLists.txt'

jobs:
  fmt:
    permissions:
      contents: read
    runs-on: macos-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          brew update
          brew install llvm clang-format cmake make
          echo "/opt/homebrew/opt/llvm/bin" >> $GITHUB_PATH
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1

      - name: Check formatting
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build . --target fmt-check
          
      - name: Static Analysis
        run: |
          rm -rf build
          mkdir build
          cd build
          cmake ..
          cmake --build . --target tidy
