name: Formatting

on:
    push:
        branches: [main]
        paths:
            - ".github/workflows/format.yml"
            - "apps/**"
            - "packages/**"
            - "build.zig"
            - "build.zig.zon"
    pull_request:
        branches: [main]
        paths:
            - ".github/workflows/format.yml"
            - "apps/**"
            - "packages/**"
            - "build.zig"
            - "build.zig.zon"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    fmt:
        permissions:
            contents: read
        runs-on: macos-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - uses: mlugg/setup-zig@v2
              with:
                  version: 0.15.2

            - name: Cache Zig Folders
              uses: actions/cache@v4
              with:
                path: |
                  ${{ env.ZIG_LOCAL_CACHE_DIR }}
                  ${{ env.ZIG_GLOBAL_CACHE_DIR }}
                key: ${{ runner.os }}-zig-${{ hashFiles('build.zig.zon', 'packages/llvm/**.zig') }}
                restore-keys: |
                  ${{ runner.os }}-zig-

            - name: Install dependencies
              run: |
                  brew update
                  brew install clang-format
              env:
                  HOMEBREW_NO_AUTO_UPDATE: 1

            - name: Check formatting
              run: zig build fmt-check

            - name: Run static analysis
              run: zig build check
